<template name="account">
    {{> createOrganizationModal }}
    {{> joinOrganization }}
</template>

<template name="myBadges">
    {{#each badges}}
        {{> badge_cell }}
    {{/each}}
</template>

<template name="createOrganizationModal">
    <button type="button" class="btn btn-success btn-default" data-toggle="modal" data-target="#create-organization-modal">Create Organization</button>
  <div class="modal fade" id="create-organization-modal" tabindex="-1" role="dialog" aria-labelledby="create-orginiziation-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Organization</h4>
        </div>
        <form id="create-organization">
          <div class="modal-body">
            <div class="form-group">
              <label for="organizationName">Name</label>
              <input type="text" name="organizationName" class="form-control" placeholder="Organization Name">
            </div>

            <div class="form-group">
              <label for="organizationEmailAddress">Admininistrator Email Address</label>
              <input type="email" name="organizationEmailAddress" class="form-control" placeholder="Administrator Email">

            </div>
            <div class="form-group">
              <label for="organizationURL">Website</label>
              <input type="url" name="organizationURL" class="form-control" placeholder="Organization URL">
            </div>
            <div class="form-group">
              <label for="organizationDescription">Description</label>
              <input type="text" name="organizationDescription" class="form-control" placeholder="A breif description of the organization">
            </div>

            <div class="form-group">
              <label for="organizationImage">Image</label>
              <input type="text" name="organizationImage" class="form-control" placeholder="FIX ME: Needs to be image upload">
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-create-organization">Create</button>
            <button type="submit" data-dismiss="modal" class="btn btn-default btn-cancel">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="joinOrganization">
    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#join-organization-modal">View Organizations</button>
    <div class="modal fade" id="join-organization-modal" tabindex="-1" role="dialog" aria-labelledby="join-orginiziation-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">View Organizations</h4>
            </div>
            <div class="modal-body">
                {{#each organizations }}
                <div class="row">
                    {{#if hasUser}}
                        <button type="button" class="btn btn-join">Leave</button>
                    {{else}}
                        <button type="button" class="btn-primary btn-join">Join</button>
                    {{/if}}
                    <h3 class="inline">{{ name }}</h3> 
                    <h4 class="inline">({{ url }})</h4>
                </div>
                {{/each}}
            </div>
          <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-default btn-cancel">Cancel</button>
          </div>
        </div>
    </div>
</div>
</template>
