<template name="header">
    <div class="icon-bar four-up">
        <a class="item" href="{{pathFor 'account'}}">
            <img src="../assets/img/images/fi-home.svg" >
            <label>Join</label>
        </a>
        <a class="item" href="{{pathFor 'create'}}">
            <img src="../assets/img/images/fi-bookmark.svg" >
            <label>Create</label>
        </a>
        <a class="item" href="{{pathFor 'badges'}}">
            <img src="../assets/img/images/fi-info.svg" >
            <label>Give</label>
        </a>
        <a class="item" href="{{pathFor 'viewBadges'}}">
            <img src="../assets/img/images/fi-mail.svg" >
            <label>View</label>
        </a>
    </div>
</template>
