<template name="layout">
    <div class="row root-row">
        {{>header}}
        <div class="container">
            {{>yield}}
        </div>
    </div>
    <div class="row" style="text-align: center;padding:10px">
        <a href="http://www.gamestartschool.org" target="_blank">
            <h3>Hosted by
                <img src="/gamestartLogo_sm.png">
            </h3>
        </a>
    </div>
    <div class="row" style="text-align: center;padding:10px">
        <a href="http://openbadges.org/" target="_blank">
            <img src="/openbadgesLogo_sm.png">
        </a>
        <a href="http://www.ctnannarborblog.org/" target="_blank">
            <img src="/CTN_logo.png" width="150">
        </a>
        <a href="http://www.ixiti.com/" target="_blank">
            <img src="/IXITI_logo.jpg" width="150">
        </a>
    </div>

</template>
